<!-- <textarea  rows="6" [value]="'Test'" #postInput></textarea> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" ngModel name="title" required minlength="3" #title="ngModel">
      <!-- Getting field using form -->
      <!-- <mat-error *ngIf="postForm.getControl('title').invalid">{{getErrorMessage()}}</mat-error> -->
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" ngModel name="content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>

  <!-- Binding without form -->
  <!-- <mat-form-field>
      <input matInput type="text" [(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button> -->
</mat-card>
<!-- <button (click)="onAddPost(postInput)">Save Post</button> -->
